<?xml version="1.0"?>
<robot name="my_first_robot">

  <!-- 1. 凭空创造一个世界原点 world -->
  <link name="world"/>

  <!-- 2. 创造一个死关节，把 base_link 焊死在 world 上 -->
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <!-- 相对于 world，base_link 的位置，全设为 0 -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- 3. 这是你真正的底盘 base_link -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.6 0.4 0.2"/> 
      </geometry>
      <material name="blue">
        <color rgba="0 0 0.8 1"/> 
      </material>
    </visual>
  </link>

</robot>
